<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid &&
      (loginForm.controls.userName?.touched || mouseOverLogin)">Required</em>
      <input required (ngModel)="userName" id="userName" name="userName" type="text" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid &&
      (loginForm.controls.password?.touched || mouseOverLogin)">Required</em>
      <input required (ngModel)="password" id="password" name="password" type="password" class="form-control"placeholder="Password..." />
    </div>
    <span (mouseenter)="mouseOverLogin=true" (mouseleave)="mouseOverLogin=false">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </span>              
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
  <div *ngIf="loginInvalid">
    <br>
    <div class="alert alert-danger">
      Invalid Login Info
    </div>
  </div>
</div>
